body {
    background-color: black;
}

h1 {
    font-size: 3rem;
    color: cornsilk;
}

button {
    color:black;
}

.flip {
    transform: rotate(0.5turn);
    transition: transform 3300ms ease-in-out;
}

.trans {
    transform: scale(2);
    transition: transform 330ms ease-in-out;

}