body {
    background-color: black;
}

h1 {
    font-size: 8rem;
    color: cornsilk;
    margin-bottom: 12rem;
    margin-left: 22%;
    margin-top: 4rem;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #04d3da;
}

button {
    color:black;
    margin-left: 13rem;
    
}

.flip {
    transform: rotate(0.5turn);
    transition: transform 3300ms ease-in-out;
}

.trans {
    transform: scale(4);
    transition: transform 330ms ease-in-out;

}